annotated-doc
annotated-types
anyio
arrow
bcrypt
binaryornot
certifi
cffi
chardet
charset-normalizer
click
cookiecutter
cryptography
dotenv
fastapi
flet
flet-cli
flet-desktop
flet-web
h11
httpcore
httptools
httpx
idna
iLibrary
invoke
Jinja2
Markdown
markdown-it-py
MarkupSafe
mdurl
msgpack
oauthlib
packaging
paramiko
pycparser
pydantic
pydantic_core
Pygments
PyNaCl
pyodbc
pypng
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil
python-dotenv
python-slugify
PyYAML
qrcode
qtwidgets
repath
requests
rich
six
SQLAlchemy
starlette
text-unidecode
toml
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchdog
watchfiles
websockets
starlette